<div class="container col-8 my-5">
  <div class="row justify-content-center"">
    <div class="col-md-10">
      <div class="customer">
        <h1 class="mb-4"><%= form_title_customer %></h1>

        <% if @customer.errors.any? %>
          <div class="alert alert-danger">
            <ul>
            <% @customer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_for @customer do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: "form-control input-lg", placeholder: "Cliente" %>
          </div>

          <div class="form-group">
            <%= f.text_field :email, class: "form-control input-lg", placeholder: "Email" %>
          </div>

          <div class="form-group">
            <%= f.text_field :phone, class: "form-control input-lg", placeholder: "Tel/Cel" %>
          </div>

          <div>
            <%= f.submit form_title_customer %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
