<div id="order-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= form_title_order %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <%= form_for @order, remote: true do |f| %>
        <div class="modal-body">

          <% if @order.errors.any? %>
            <div class="alert alert-danger">
              <ul>
              <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="alert alert-danger" role="alert" style="display: none;"></div>

          <div class="form-group">
            <%= f.collection_select :customer_id, Customer.all, :id, :name, {:prompt => 'Seleccione un Cliente'} %>
          </div>
          <hr>
          <div class="form-group">

            <h3>Productos</h3>
            <%= f.collection_check_boxes(:product_ids, Product.all, :id, :code) do |b| %>
             <%= b.label class:"label-checkbox mr-4" do %>
               <%=b.check_box%>
               <%=b.text%>
              <% end %>
            <% end %>
          </div>
        <%= current_vendor.name %>
        <div class="modal-footer">

          <%= f.submit form_title_order, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
