<tr id="<%= product.id %>">
  <td><%= product.code %></td>
  <td><%= product.width %></td>
  <td><%= product.height %></td>
  <td><%= number_to_currency(product.unit, precision: 0) %></td>
  <td><%= product.quantity %></td>
  <td><%= number_to_currency(product.price, precision: 0) %></td>
  <td>
    <% if vendor_signed_in? %>
      <span class="metric-value">
        <%= link_to "", edit_product_path(product), remote: true, class: "fas fa-edit mr-1"%>
      </span>
    <% end %>
  </td>
</tr>
